<div class="text-center">
  <div class="row">
    <div class="col-xl-12">
      <img
        src="/assets/probsolved_paulroberts_horiz_820_whitebg copy.png"
        alt="logo"
        width="750px"
      />
    </div>
  </div>
</div>
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hosting</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Super User DO!</h3>
          <ul>
            <li><a href="#">// sudoTasks</a></li>
            <li><a href="#">// Project and Task Managament for Devs</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Paul Roberts / probsolved.dev</h3>
          <p>
            Interested in the development of robust but light-weight web
            applications that enable clients to harness the web to do new
            things. We believe in community, collaboration, and ubiquitous
            access to information.
          </p>
        </div>
        <div class="col item social">
          <a href="#"><i class="icon ion-social-facebook"></i></a
          ><a href="#"><i class="icon ion-social-twitter"></i></a
          ><a href="#"><i class="icon ion-social-snapchat"></i></a
          ><a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">probsolved.dev (c) 2022</p>
    </div>
  </footer>
</div>
