<!-- <div class="row">
  <div class="col-xs-12">
    <img
      [src]="project.imagePath"
      alt="{{ project.name }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div> -->

<div class="row">
  <div class="col-xs-12">
    <h2>Project: {{ project.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage project <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToTaskListList()" style="cursor: pointer"
            >To TaskList List</a
          >
        </li>
        <li>
          <a style="cursor: pointer" (click)="onEditProject()">Edit project</a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDeleteProject()"
            >Delete project</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ project.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group list-group-item-action">
      <h4>Project Tasks</h4>
      <li
        class="list-group-item"
        routerLinkActive="active"
        *ngFor="let task of project.tasks"
      >
        <div class="row">
          <div class="col-xs-6">
            {{ task.name }}
            <span class="badge badge-pill badge-primary pull-right">
              Priority: {{ task.priority }}</span
            >
          </div>
          <div class="col-xs-6">
            <button
              class="btn btn-success float-right"
              data-toggle="tooltip"
              data-placement="top"
              title="Mark task as done."
            >
              Done
            </button>
            <button
              class="btn btn-info float-right"
              data-toggle="tooltip"
              data-placement="top"
              title="Delegate task to another person"
            >
              Delegate
            </button>
            <button
              (click)="onDeferTask()"
              class="btn btn-warning float-right"
              data-toggle="tooltip"
              data-placement="top"
              title="Defer task to a specific date"
            >
              Defer
            </button>
            <button
              class="btn btn-danger float-right"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete task entirely"
            >
              Delete
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
