<app-header></app-header>
<app-gears></app-gears>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr />
  <div class="row">
    <div>
      <!--  -->
      <!-- <mwl-calendar-month-view [viewDate]="viewDate"> </mwl-calendar-month-view> -->
      <!-- <mwl-calendar-week-view
        [viewDate]="viewDate"
        [dayStartHour]="9"
        [dayEndHour]="17"
      >
      </mwl-calendar-week-view> -->

      <!-- <mwl-calendar-day-view
        [viewDate]="viewDate"
        [dayStartHour]="9"
        [dayEndHour]="17"
      ></mwl-calendar-day-view> -->

      <!-- uncomment  -->
    </div>
  </div>
</div>
<div class="footer"><app-footer></app-footer></div>
