<h2>Edit Project Details</h2>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Project Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="" class="img-responsive" />
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!projectForm.valid"
          >
            Save Project
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel Project
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-8">
          <h4>Project Tasks</h4>
        </div>
        <div class="col-xs-4">
          <h4>Priority</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="tasks">
          <div
            class="row"
            *ngFor="let taskCtrl of controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-xs-8">
              <input
                type="text"
                id="taskName"
                class="form-control"
                formControlName="name"
              />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="priority"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteTask(i)"
              >
                X
              </button>
            </div>
          </div>
          <!-- <hr /> -->
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddTask()"
              >
                Add New Task
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
